<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-foot">
                <h4>Telefono</h4>
                <p>03144367485</p>
            </div>
            <div class="contenedor-foot">
                <h4>Correo</h4>
                <p>ejemplo@ejemplo.com</p>
            </div>
            <div class="contenedor-foot">
                <h4>Ubicacion</h4>
                <p>Ejemplo XXXXXXXX</p>
            </div>
        </div>
        <h2 class="titulo-final">José María Llerena Espinoza</h2>
    </footer>
</body>
</html>
