.contenedor-inicio{
    display: flex;
    justify-content: space-evenly;
}
.inicio .conte-texto{
    width: 50%;
}
.conte-texto h3{
    margin-bottom: 15px;
}
.conte-texto h3 span{
    background: lightcoral;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 3px;
    box-shadow: 0 0 6px 0;
    margin: 5px;
}
.conte-texto p{
    padding: 0 0 30px 15px;
}
.proyectos{
    background: white;
}
.lista-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.listatexto{
    width: 24%;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    position:relative;
    box-shadow: 0 0 6px 0;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: lightcoral;
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}
.cards .card >.contenido-texto-card{
    width: 60%;
    color: white;
}
.cards .card >.contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
.about-servicios{
    background: white;
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 26%;
    text-align: center;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}