<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="contenedor informacion">
            <h2 class="titulo">BIENVENIDOS</h2>
            <div class="contenedor-inicio">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos exercitationem earum quis, quam tenetur minima ab ut ex officia blanditiis, nemo vitae. Quasi, accusantium voluptatem? Eos praesentium, earum voluptatem corporis mollitia non aliquid temporibus tempore eius! Quos praesentium necessitatibus aliquam doloremque magnam possimus fugit distinctio repellendus consectetur amet. Laudantium eaque pariatur non consectetur dolorem dolores fuga vero officiis dolore sint excepturi qui libero asperiores quibusdam accusantium expedita quas temporibus amet est, corrupti atque iusto eligendi earum. Cum dolor natus in, veniam quod dolorum qui beatae ipsum, animi maiores non maxime, ratione saepe omnis ullam quo. Quo, libero? Minima, fugiat voluptates?</p>

                <div class="conte-texto">
                    <h3><span>1</span> Quienes somos?</h3>  
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur recusandae harum incidunt quis nobis, sapiente veniam accusamus perspiciatis a aperiam amet iure ut non distinctio reprehenderit officiis voluptatem repudiandae!</p>
                    <h3><span>2</span> Que buscamos?</h3>  
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore neque perferendis dolores, commodi facere ex magni id. Tempora quam laudantium eos suscipit numquam rem recusandae temporibus odit. Architecto, laudantium esse?</p>
                </div>
            </div>
        </section>
        <section class="proyectos">
            <div class="contenedor">
                <h2 class="titulo">PROYECTOS</h2>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
                <div class="lista-proyectos">
                    <p class="listatexto">Proyecto 1</p>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">OPINIONES</h2>
            <div class="cards">
                <div class="card">
                    <div class="contenido-texto-card">
                        <h4>Nombre</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, mollitia.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="contenido-texto-card">
                        <h4>Nombre</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, mollitia.
                        </p>
                    </div>
                </div>
            </div>   
        </section>
        <section class="about-servicios">
            <div class="contenedor">
                <h2 class="titulo">NUESTROS SERVICIOS</h2>
                <div class="servicio-cont">
                    <div class="serv-ind">
                        <h3>Nombre</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, consequuntur.</p>
                    </div>
                    <div class="serv-ind">
                        <h3>Nombre</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, consequuntur.</p>
                    </div>
                    <div class="serv-ind">
                        <h3>Nombre</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, consequuntur.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>